

<div class="footer-distributed">

  <div class="footer-left">
<img src="../../assets/MTC-Logo.jpg" class="img-fluid" style="height: 100px">
    <h3>MedNoc Staffing Solutions<span></span></h3>

    <p class="footer-links">
      <a href="">Home</a>
      ·
      <a routerLink="/faq">faq</a>
      
     
      ·
      <a href="https://mednochealthcareertrainingcoursesok.com/who-we-are/">About Us</a>
      ·
      <a href="https://mednochealthcareertrainingcoursesok.com/contact-cna-training-school-oklahoma/">Contact</a>
    </p>

    <p class="footer-company-name">MedNoc Staffing Solutions&copy; 2019</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>2828 NW 57th Street, Suite 200
        </span> Oklahoma City, OK 73112</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>(405) 225-7876</p>
    </div>
    <div>
      <i class="fa fa-fax"></i>
      <p>(405) 421-9521</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:info@mednocstaffingsolutions.com">info@mednocstaffingsolutions.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About MedNoc Staffing Solutions</span>
     MedNoc Staffing Solutions is a staffing agency which specializes in staffing Health Care proffessionals to a wide range of Health Care institutions.    </p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>

  </div>

</div>
