<navbar></navbar>
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="breadcrumb">
          <li><a routerLink="/"><i class="fa fa-home"></i></a>&nbsp; / </li>
          <li><a routerLink="/"> &nbsp;</a>&nbsp; Admin /</li>
          <li class="active">&nbsp; Dashboard</li>
        </ul>
       
      </div>
    </div>
  </div>
  <br>
</section>
<div class="container">
    <div class="row">
        
        <div class="col-lg-8 col-sm-9 col-md-8  col-xl-9">
            <div class="row">
                <div class="col-md-12">
                    <br>
                        <div class="card">
                          <div class="card-body">
                                <h4>Hello, {{displayName}}</h4>
                                <p class="lead"> Post, view and Delete Job Posts</p>
                                <p class="lead">View Job Applications</p>
                                <hr class="my-4">
                                <p>You are logged in as Admin</p>
                                <p class="lead">
                                  <a class="btn btn-primary btn-lg" routerLink="/viewjobs" role="button">View all Job Posts</a>
                                </p>
                              </div>
                              </div>

                </div>
                <!--
                <div class="col-md-4">
                  <br>
                        <div class="card">
                            
                          <div class="card-body">
                              <h3 class="text-primary">Class Schedule</h3>
                              <hr>
                              <p>
                                Add,edit and delete Class Schedules
                              </p>
                              <a class="btn btn-primary pull-left" kendoButton routerLink="/courses">Go to Schedules</a>
                          </div>
            
                        </div>
                </div>
                <div class="col-md-4">
                    <br>
                    <div class="card">
                        
                      <div class="card-body">
                          <h3 class="text-primary">Users</h3>
                          <hr>
                          <p>
                          Manage All Users Here
                          </p>
                          <a class="btn btn-primary pull-left" routerLink="/adminusers" >Go to Users</a>
                      </div>
        
                    </div>
                  </div>
-->
                <div class="col-md-6">
                      <br>
                      <div class="card">
                          
                        <div class="card-body">
                            <h3 class="text-primary">Job Applications</h3>
                            <hr>
                            <p>
                          View All Job Applications
                            </p>
                            <a class="btn btn-primary pull-left" routerLink="/static/applications" >Go to Job Applications</a>
                        </div>
          
                      </div>
                </div>
                <div class="col-md-6">
                  <br>
                    <div class="card">
                        
                        <div class="card-body">
                            <h3 class="text-primary">Jobs</h3>
                            <hr>
                            <p>
                            Add New Job Post
                            </p>
                            <a class="btn btn-primary pull-left" routerLink="/postjobs" >Go To Job Posts</a>
                        </div>
          
                      </div>
                </div>
                <div class="col-md-12">
                  <br>
                  <div class="">
              <div class="">
                      <hr>
                      <h3 class="text-primary">Recent Job Posts</h3>  
                      <hr>   
                    
              </div>
                  </div>
                 
                </div>
                <div class="col-md-4">

                </div>
            
              </div>
              
        </div>
        <div class="col-lg-4 col-sm-3 col-md-4  col-xl-3">
                <br>
           
               
            </div>
    </div>
</div>
  


