
<navbar></navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
      <div class="card">
        <div class="card-body">
          
           <h3 class="text-primary">Recover Your Password</h3>
           <p>You forgot your password</p>
        </div>

      </div>

    </div>
    <div class="col-md-12" *ngIf="alreadyReset==false">
<br>
<div class="card" *ngIf="!showPassword" >
  <div class="card-body">
<form>
  <div class="form-group">
<p>Enter Your Email Address </p>
<input  kendoTextBox   placeholder="Your Email Address"  #email>
  </div>
  <br>
  <div class="alert alert-warning" *ngIf="!validStatus">
    Please enter email address
  </div>
  <div class="alert alert-danger" *ngIf="resetStatus==false">
    Email Address Doesnt Exist
  </div>
  <div class="alert alert-success" *ngIf="resetStatus==true">
  Password was Reset successfully, go to your email and click the reset password link.
  </div>
  <button class="btn btn-primary btn-lg" (click)="submitEmail(email)">
Reset Password
  </button>
</form>

<hr>
<button class="btn btn-info " routerLink="/signin">Do you have your credentials? Click Here</button><br><br><br>
<button class="btn btn-primary" type="button" routerLink="/signup">Register Account</button>
                                               
  </div>

</div>
<div class="card" *ngIf="showPassword">
  <div class="card-body" *ngIf="emailAddress">
    <h3>Reset Password for {{emailAddress}}</h3>
      <div class="form-group">
          <p>New Password </p>
          <input  kendoTextBox  type="password" placeholder="New Password"  #password>
        </div>
        <div class="form-group">
            <p>Confirm New  Password</p>
            <input  kendoTextBox  type="password" placeholder="Confirm Password"  #cpassword>
        </div>
        <div class="alert alert-danger" *ngIf="!validStatus">
          <p>Please check your password</p>
          <p><span class="fa fa-info"></span>  passwords  must match</p>
          <p><span class="fa fa-info"></span> passwords should be 6 characters or more</p>

        </div>
        <div class="alert alert-success" *ngIf="resetStatus==true">
Password was Reset successfully
<br>
<a routerLink="/signin" class="btn btn-info btn-sm">
Click Here to Log In
</a>

        </div>
        <button class="btn btn-primary btn-lg" (click)="submitPassword(password, cpassword)">
           Save New Password
              </button>
  </div>
  <div class="card-body" *ngIf="!emailAddress">
  <div class="alert alert-danger">
    <p>Invalid Password Reset Link</p>
    <a class="btn btn-danger btn-lg" routerLink="/forgotpassword">enter your Email</a>

  </div>
  </div>

</div>
    </div>
    <div class="col-md-12">
        <div class="alert alert-success" *ngIf="alreadyReset==true">
            Password was Reset successfully
            <br>
            <a routerLink="/signin" class="btn btn-info btn-sm">
            Click Here to Log In
            </a>
            
                    </div>
    </div>

  </div>

</div>